@model Autentals.ViewModels.EditCustomerViewModel
@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SaveCustomer", "Customers"))
{
    <div class="form-group">
        @foreach (var customer in Model.Customer)
        {
            <label for="FirstName">First Name</label>
            <input class="form-control" id="FirstName" name="firstName" value="@customer.FirstName" required>

            <p>&nbsp;</p>

            <label for="LastName">Last Name</label>
            <input class="form-control" id="LastName" name="lastName" value="@customer.LastName" required>

            <p>&nbsp;</p>

            //TODO: Get birthdate to populate correctly
            <label for="BirthDate">Date of Birth</label>
            <input type="date" class="form-control" name="birthDate" id="BirthDate" 
                   value="@(string.Format("{0:yyyy-MM-dd}", customer.BirthDate.ToShortDateString()))" required>

            <p>&nbsp;</p>

            <label>Select Membership</label>
            <select class="form-control" id="membershipName" name="membershipName">
                <option selected>@customer.MembershipInfo.MembershipName</option>
                
                @foreach (var membership in Model.MembershipInformation)
                {
                    if (membership.MembershipName != customer.MembershipInfo.MembershipName)
                    {
                        <option>@membership.MembershipName</option>
                    }
                }
            </select>

            <input hidden name="@customer.Id" />
        }

        <div>&nbsp;</div>

        <button type="submit" class="btn btn-success" style="margin-right: 20px">
            Save
        </button>

        &nbsp;

        <button class="btn btn-danger" onclick="location.href = '@Url.Action("AllCustomers", "Customers", null)'">
            Cancel
        </button>
    </div>
}