@model Autentals.ViewModels.AppViewModel

@{
    ViewBag.Title = "Customer Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@foreach (var customer in Model.Customers)
{
    <h3>@customer.FirstName &nbsp; @customer.LastName</h3>
    <p>&nbsp;</p>


    if (customer.BirthDate != DateTime.MinValue)
    {
        <h5>Date of Birth: @customer.BirthDate.ToShortDateString()</h5>
    }
    else
    {
        <h5>Date of Birth:</h5>
    }


    <h5>Membership Name: @customer.MembershipInfo.MembershipName</h5>
    <h5>SignUp Fee Amount: $@customer.MembershipInfo.SignUpFee</h5>
    <h5>Membership Duration: @customer.MembershipInfo.DurationInMonths &nbsp; months</h5>
    <h5>Membership Discount: @customer.MembershipInfo.DiscountAmount%</h5>

<div>
    &nbsp;
</div>

<button class="btn btn-default" onclick="location.href = '@Url.Action("EditCustomerForm", "Customer", new { id = customer.Id })'">
   Edit
</button>
}
