@model Autentals.ViewModels.AppViewModel

@{
    ViewBag.Title = "Customer Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@foreach (var customer in Model.Customers)
{
    <h3>@customer.FirstName &nbsp; @customer.LastName</h3>
    <p>&nbsp;</p>


    if (customer.BirthDate != DateTime.MinValue)
    {
        <h5>Date of Birth: @customer.BirthDate.ToShortDateString()</h5>
    }
    else
    {
        <h5>Date of Birth:</h5>
    };


    <h5>Membership Name: @customer.MembershipInfo.MembershipName</h5>
    <h5>SignUp Fee Amount: $@customer.MembershipInfo.SignUpFee</h5>
    <h5>Membership Duration: @customer.MembershipInfo.DurationInMonths &nbsp; months</h5>
    <h5>Membership Discount: @customer.MembershipInfo.DiscountAmount%</h5>

    <div>
        &nbsp;
    </div>

    <button class="btn btn-default" onclick="location.href = '@Url.Action("EditCustomerForm", "Customer", new { id = customer.Id })'">
        Edit
    </button>

    <button class="btn btn-danger" id="js-deleteBox" style="margin-left: 20px" data-key="@customer.Id">
        Delete
    </button>
}



@section scripts
{
    <script>
        $(document).ready(function () {
            //var button = $(this);


            $('#js-deleteBox').on("click", function (e) {
                e.preventDefault();
                var dataObj = $(this).data('key')


                bootbox.confirm({
                    message: "Are you sure you want to DELETE this customer?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        //TODO: Remove - For dev logging only
                        console.log(dataObj)

                        if (result) {
                            $.ajax({
                                url: "/Customer/DeleteCustomer/" + dataObj,
                                method: "POST",
                                success: function () {
                                    bootbox.alert("Customer deleted successfully.", function () {
                                        window.location.href = '@Url.Action("AllCustomers", "Customers")';
                                    });
                                },
                                error: function () {
                                    bootbox.alert("An ERROR occured while processing your request. Please try again.")
                                }
                            })
                        }

                        function redirect() {

                        }

                    }
                });
            });
        })
    </script>
}

