@model Autentals.ViewModels.AppViewModel
@{
    ViewBag.Title = "All Vehicles For Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@*var isPopular = Model.Customers.Count > 3 ? "popular" : null;*@

@*<h2 class="@isPopular">@Model.Vehicles</h2>*@

@if (Model.Vehicles.Count() == 0)
{
    <p>No one has rented this vehicle before.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr style="background-color: turquoise; color: black">
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr onclick="location.href = '@Url.Action("GetVehicle", "Vehicles", new { id = vehicle.Id }, null)'">
                        <td>@vehicle.Make</td>
                        <td>@vehicle.Model</td>
                        <td>@vehicle.Year</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <ul></ul>
}
