@model Autentals.ViewModels.AppViewModel
@{
    ViewBag.Title = "Vehicle Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@foreach (var vehicle in Model.Vehicles)
{
    <h3>@vehicle.Make &nbsp; @vehicle.Model</h3>
    <h5>Year: &nbsp; @vehicle.Year</h5>
    <h5>Color: &nbsp; @vehicle.Color</h5>
    <h5>Convertable: &nbsp; @(vehicle.IsConvertable ? "Yes" : "No")</h5>
    <h5>Seating: &nbsp; @vehicle.Seats</h5>
    <h5>Transmission Type: &nbsp; @vehicle.TransmissionType</h5>

    <div>
        &nbsp;
    </div>

    <button class="btn btn-default" 
            onclick="location.href = '@Url.Action("EditVehicleForm", "Vehicles", new { id = vehicle.Id })'">
        Edit
    </button>
}