@model Autentals.Models.Vehicle
@{
    ViewBag.Title = "Vehicle Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<h3>@Model.Year &nbsp; @Model.Make &nbsp; @Model.Model</h3>
<p>Color: @Model.Color</p>
