@model Autentals.ViewModels.AppViewModel
@{
    ViewBag.Title = "Vehicle Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@foreach (var vehicle in Model.Vehicles)
{
    <h3>@vehicle.Make &nbsp; @vehicle.Model</h3>
    <h5>Year: &nbsp; @vehicle.Year</h5>
    <h5>Color: &nbsp; @vehicle.Color</h5>
    <h5>Convertable: &nbsp; @(vehicle.IsConvertable ? "Yes" : "No")</h5>
    <h5>Seating: &nbsp; @vehicle.Seats</h5>
    <h5>Transmission Type: &nbsp; @vehicle.TransmissionType</h5>

    <div>
        &nbsp;
    </div>

    <button class="btn btn-default" 
            onclick="location.href = '@Url.Action("EditVehicleForm", "Vehicles", new { id = vehicle.Id })'">
        Edit
    </button>

    <button class="btn btn-danger" id="js-deleteBox" style="margin-left: 20px" data-key="@vehicle.Id">
        Delete
    </button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#js-deleteBox').on("click", function (e) {
                e.preventDefault();
                var dataObj = $(this).data('key')


                bootbox.confirm({
                    message: "Are you sure you want to DELETE this vehicle?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        //TODO: Remove - For dev logging only
                        console.log(dataObj)

                        if (result) {
                            $.ajax({
                                url: "/Vehicles/DeleteVehicle/" + dataObj,
                                method: "POST",
                                success: function () {
                                    bootbox.alert("Vehicle deleted successfully.", function () {
                                        window.location.href = '@Url.Action("AllVehicles", "Vehicles")';
                                    });
                                },
                                error: function () {
                                    bootbox.alert("An ERROR occured while processing your request. Please try again.")
                                }
                            })
                        }
                    }
                });
            });
        })
    </script>
}